<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <a href="#listRestaurant" class="skip-link">Menuju ke konten</a>
    <div class="navbar">
      <a href="#" class="navbar-logo">Chef Nuo's</a>

      <div class="navbar-extra">
        <button id="hamburger-menu">
          <i data-feather="menu"></i>
        </button>
      </div>

      <div class="navbar-nav">
        <a href="#index.html">Home</a>
        <a href="#">Favorite</a>
        <a href="https://www.linkedin.com/in/melani-nurlies-aa1748254">About</a>
      </div>
    </div>

    <section class="hero" id="home">
      <main class="content">
        <h1>All in One Restaurant</h1>
        <p>Find the best restaurants only on this websites</p>
      </main>
    </section>

    <h1 class="judul">Explore The Restaurant</h1>

    <div id="listRestaurant"></div>
    <script>
      feather.replace();
    </script>
  </body>
  <footer>
      <p>Copyright © 2023 - Chef Nuo's</p>
    </div>
  </footer>

</html>